<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>系统监控</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!--<link rel="icon" href="/static/favicon.ico">-->
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/index.css" media="all" />
</head>
<body class="">
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				<small>系统管理 > 系统监控</small>
			</h1>
		</section>
		<!-- Main content -->
		<section class="content">
			<!-- Your Page Content Here -->
			<div class="row">
				<div class="col-xs-12" style="height: 800px">
					<iframe src="/druid/index.html" width="100%" height="100%" frameborder="0"></iframe>
				</div>
			</div>
		</section><!-- /.content -->
	</div><!-- /.content-wrapper -->
</body>
</html>